body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#counter {
    font-size: 50px;
}

#number {
    font-size: 25px;
    width: 50px;
    border-radius: 6px;
    border: silver 3px solid;
    margin: 10px;
    text-align: center;
}

button {
    font-size: 25px;
    width: 35px;
    background-color: silver;
    color: white;
    border: silver 1px solid;
    border-radius: 3px;
}

button:hover {
    background-color: white;
    color: silver;
}
